.key-results {    
    .tab-navigation {
        padding-right: 0;
        .tab-link {
            .apply-tab-link-styles();
        }
    }
    
    .content {       
        padding-left: 0;
        
        .container{
            padding-top: 0;
        } 

        .tab-content {
            display: none;
            padding: 0;
            opacity: 0;
            transition: opacity 0.3s ease;
            
            &.active {
                display: block;
                opacity: 1;
            }
            
            .about-header {
                color: #0F2F2A;
                font-weight: 375;
            }
            img{
                width: 100%;
            }
            h3 {
                color: #0F2F2A;
                font-family: Author;
                font-size: 24px;
                font-weight: 494;
            }

            h4{
                color: #0F2F2A;
                font-family: Author;
                font-size: 24px;
                font-style: normal;
                font-weight: 375;
                line-height: normal;
            }
            p {
                color: #2f2f2f !important;
                font-family: Author;
                font-size: 18px;
                font-style: normal;
                // font-weight: 375;
            }
            a{
                color: #737373;
                text-decoration: underline;
                cursor: pointer;
                &:hover{
                    color: #0086AF;
                }
            }
            .deliverable-link {
                color: #0086AF !important;
                text-decoration: none;
                font-size: 18px;
                
                // &:hover {
                //     text-decoration: underline;
                //     color: #0056b3;
                // }
            }
        }
    }
}


