.sap {
    .padding-left-0 {
        padding-left: 0 !important;
    }

    .padding-right-0 {
        padding-right: 0 !important;
    }

    .sap-intro {
        padding: 0 20px;
    }

    .deliverable-link {
        color: #0086AF;
        text-decoration: none;
        font-size: 18px;
    }

    @sap-box-min-height: 230px;

    .sap-box-base() {
        border-radius: 15px;
        background: #F0F2F3;
        margin-bottom: 20px;
        padding: 30px;
        min-height: @sap-box-min-height;
    }

    .sap-typography() {
        h3 {
            margin-bottom: 10px;
            color: #737373;
            font-family: Author;
            font-size: 24px;
            font-weight: 494;
        }

        p {
            color: #737373;
            font-size: 18px;
            margin-bottom: 0;
        }
    }

    .sap-box {
        .sap-box-base();
        .sap-typography();
        display: block;
        position: relative;

        img {
            width: 45.803px;
            height: 46px;
            margin-bottom: 27px;
            object-fit: contain;
            display: block;
        }
        .breakpoint-tablet({
            min-height: 320px;
        });
    }
}