[jumbotron hero-text]
jumbotron = "hero-text"
templates = "template2" 
description_limit = 0
==

<section class="hero-section">
    <div class="container-fluid shadows">
        <div class="row">
            <div class="col-md-6 left-shadow"></div>
            <div class="col-md-6 right-shadow"></div>
        </div>
    </div>
    <div class="container-fluid text-container">
        {% component 'hero-text' %}
    </div>

    <div class="container-fluid carousel-container">
        <div id="hero-carousel">
            <div class="carousel-track">
                {% for image in carousel_images %}
                <div class="slide">
                    <div class="hero-carousel-image {{ loop.index0 % 2 == 0 ? 'small-height' : 'large-height' }}">
                        <img alt="" title="" src="{{image.path}}">
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

<script src="{{ 'assets/js/hero.js'|theme }}"></script>
