{% if records.count() %}
<div class="row">
    {% for record in records %}
    <div class="col-md-6 col-xs-12">
        <div class="video-container">
            {% if record.youtube_url %}
            <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" src="{{record.youtube_url}}"></iframe>
            {% endif %}

            {% if record.vimeo_url %}
            <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    src="{{record.vimeo_url}}">
            </iframe>
            {% endif %}
            
            {% if record.file and not record.youtube_url and not record.vimeo_url %}
                {% set fileExtension = record.file.getExtension|lower %}
                {% if fileExtension in ['mp4', 'webm', 'ogg', 'avi', 'mov'] %}
                <video controls>
                    <source src="{{ record.file.path }}" type="video/{{ fileExtension == 'mov' ? 'quicktime' : fileExtension }}">
                    Your browser does not support the video tag.
                </video>
                {% endif %}
            {% endif %}
        </div>
        
        <p class="card_title">{{ record.name|length > 65 ? record.name|striptags|slice(0, 65)|replace({"&nbsp;": " ", ".": ". "}) ~ '...' : record.name|striptags|replace({"&nbsp;": " ", ".": ". "})  }}</p>
    
    </div>
    {% endfor %}
</div>
{% else %}
<p align="center">No videos found</p>
{% endif %}